<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    <title>Educación Continua</title>
</head>
<body>
    <div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">
                    <h1 display-4>{{titulo}} </h1>
                </div>
                <div class="col-sm-6">
                    <img src="img/banner.jpg"  class="img-fluid img-thumbnail rounded float-right" > 
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Menú</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/vercursos">Ver Cursos</a>
                </li>
                {{# if sesion}}
                {{# if aspirante}}
                <li class="nav-item ">
                    <a class="nav-link" href="/inscripcion">Inscripción</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/chat?usuario={{nombre}}&rol={{rol}}">Chat de Ayuda</a>
                </li>
                </ul>
                {{/if}}
                {{# if coordinador}}
                <li class="nav-item ">
                    <a class="nav-link" href="/cursos">Crear Cursos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/cursosInscripcion">Cursos e Integrantes</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/chat?usuario={{nombre}}&rol={{rol}}">Chat de Ayuda</a>
                </li>
                {{!-- <li class="nav-item ">
                    <a class="nav-link" href="/vernotas">Ver notas</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/actualizar">Actualizar</a>
                </li>
                </ul> --}}
                {{/if}}            
        </div>
        <div class="img" style="width: 80px; height: 80px;">
                <img src="data:img;base64,{{avatar}}"  class="img-fluid img-thumbnail" alt="Imagen de perfil" > 
        </div>
            <form class="form-inline my-2 my-lg-0" action="/salir" method="get">
            <h3>--{{nombre}}--</h3>
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Salir</button>
            </form>
        </nav>
        {{else}}
        </ul>
        </nav>
        <br>
        <div class="card">
            <div class="card-body">
                <form class="form-inline" action="/ingresar" method="POST">
                    <h3>Iniciar Sesión</h3>
                    <div class="form-group mx-sm-3 mb-2">
                        <input class="form-control" type="text" name="correo" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input class="form-control" type="password" name="password" placeholder="Contraseña">
                    </div> 
                    <div class="form-group mx-sm-3 mb-2">
                        <button class="btn btn-primary" type="submit">Ingresar</button>
             </div>     
        </form>
            </div>
        </div>
         
        {{/if}}
        
    </div>    