{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
    <br>
    <h4>
        Se registró correctamente la inscripción
    </h4>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <b>Inscripción Exitosa - Detalle</b>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Documento de Identidad: </b>{{id}}</li>
                    <li class="list-group-item"><b>Nombre: </b>{{nombre}}</li>
                    <li class="list-group-item"><b>Correo : </b>{{correo}}</li>
                    <li class="list-group-item"><b>Teléfono: </b>{{telefono}}</li>
                    <li class="list-group-item"><b>Curso Inscrito: </b>{{curso}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{>footer}}